html {
  background-color: black;
  font-family: Verdana;
  Font-weight: normal;
  text-align: center;
}

p {
  font-size: 21px;
  color: gray;
}

h3 {
  color: white;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;

}

.download{
  color: Aquamarine;
  font-size: 16px;

}



.footer {
  text-align: right;
  color:gray;
}
